# ‚ö°Ô∏èstudy by ÏÑùÎØº‚ö°Ô∏è

In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
os.getcwd()

'/Users/seokminlee/Desktop/mose/zero-base/·Ñâ·Ö≥·Ñê·Ö•·ÑÉ·Öµ·ÑÇ·Ö©·Ñê·Ö≥/4·Ñå·ÖÆ·Ñé·Ö°'

In [18]:
ls

data/        source_code/

In [17]:
cd ds_study

/Users/seokminlee/Desktop/mose/zero-base/·Ñâ·Ö≥·Ñê·Ö•·ÑÉ·Öµ·ÑÇ·Ö©·Ñê·Ö≥/ds_study

~~~python
# ÌïúÍ∏ÄÌååÏùº Ï†ÅÏö©ÏùÑ ÏúÑÌï¥ Î≥ÄÌôòÏùÄ "utf-8"Î°ú ÌïúÎã§.
df1 = pd.read_csv("path/filename.csv", encoding = "utf-8")
# header: ÏÇ¨Ïö©Ìï† Ìó§Îçî ÏúÑÏπò, usecols: ÏÇ¨Ïö©Ìï† columns ÏúÑÏπò
df2 = pd.read_excel("path/file_name.xls", header=2, usecols = "B, D, G, J")

df.head() # Í∏∞Î≥∏ 5Í∞ú ÏÉÅÏúÑ index Î≥¥Í∏∞
df.tail() # Í∏∞Î≥∏ 5Í∞ú ÌïòÏúÑ index Î≥¥Í∏∞

df.columns # DataFrameÏùò columns ÌôïÏù∏
df.columns[0] # 0Î≤àÏûêÎ¶¨ columns ÌôïÏù∏
df.index # DataFrameÏùò index ÌôïÏù∏ 
df.values # DataFrameÏùò value ÌôïÏù∏

df.rename(columns={df.columns[0]: "Î∞îÍøÄ Ïù¥Î¶Ñ"}, inplace = True) # inplace: Î≥ÄÍ≤Ω Ï†ÅÏö©

~~~

In [10]:
# DataFrameÏùò Í∏∞Î≥∏ Ï†ïÎ≥¥ ÌôïÏù∏
# Ïó¨Í∏∞ÏÑúÎäî Í∞Å Ïª¨ÎüºÏùò ÌÅ¨Í∏∞ÏôÄ Îç∞Ïù¥ÌÑ∞ÌòïÌÉúÎ•º ÌôïÏù∏ÌïòÎäî Í≤ΩÏö∞Í∞Ä ÎßéÎã§
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2023-01-01 to 2023-01-06
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      float64
 1   B       6 non-null      float64
 2   C       6 non-null      float64
 3   D       6 non-null      float64
dtypes: float64(4)
memory usage: 240.0 bytes

In [11]:
# DataFrameÏùò ÌÜµÍ≥ÑÏ†Å Í∏∞Î≥∏ Ï†ïÎ≥¥ ÌôïÏù∏
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.412938 -0.232190  0.368056 -0.828059
std    0.871818  0.705126  0.704612  0.983104
min   -1.709471 -1.261553 -0.444447 -1.782980
25%   -0.837366 -0.620273 -0.211700 -1.398879
50%   -0.465878 -0.222316  0.403240 -1.152172
75%    0.242543  0.337904  0.998343 -0.538493
max    0.646113  0.541326  1.066270  0.934018

### üìç df.sort_values( )
- Pandas DataFrameÏùò sort_values() Î©îÏÜåÎìúÎäî DataFrameÏùÑ ÌïòÎÇò Ïù¥ÏÉÅÏùò Ïó¥ÏùÑ Í∏∞Ï§ÄÏúºÎ°ú Ï†ïÎ†¨ÌïòÎäî Îç∞ ÏÇ¨Ïö©Îê©ÎãàÎã§. 
- Ïù¥ Î©îÏÜåÎìúÎäî Ï†ïÎ†¨Îêú DataFrameÏùÑ Î∞òÌôòÌïòÎ©∞ ÏõêÎûò DataFrameÏùÄ Î≥ÄÍ≤ΩÎêòÏßÄ ÏïäÏäµÎãàÎã§.
~~~python
df.sort_values(by, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last')
~~~
>- by: ÌïòÎÇòÏùò Ïó¥ ÎòêÎäî Ïó¥ Î¶¨Ïä§Ìä∏Î•º ÎÇòÌÉÄÎÇ¥Î©∞ Ïù¥Î•º Í∏∞Ï§ÄÏúºÎ°ú DataFrameÏù¥ Ï†ïÎ†¨Îê©ÎãàÎã§.
>- axis: Í∏∞Î≥∏Í∞íÏùÄ 0ÏûÖÎãàÎã§. Ïó¥ÏùÑ Í∏∞Ï§ÄÏúºÎ°ú Ï†ïÎ†¨Ìï©ÎãàÎã§. 1Î°ú ÏÑ§Ï†ïÌïòÎ©¥ ÌñâÏùÑ Í∏∞Ï§ÄÏúºÎ°ú Ï†ïÎ†¨Ìï©ÎãàÎã§.
>- ascending: Í∏∞Î≥∏Í∞íÏùÄ TrueÏûÖÎãàÎã§. TrueÎ°ú ÏÑ§Ï†ïÌïòÎ©¥ Ïò§Î¶ÑÏ∞®ÏàúÏúºÎ°ú Ï†ïÎ†¨ÌïòÍ≥†, FalseÎ°ú ÏÑ§Ï†ïÌïòÎ©¥ ÎÇ¥Î¶ºÏ∞®ÏàúÏúºÎ°ú Ï†ïÎ†¨Ìï©ÎãàÎã§.
>- inplace: Í∏∞Î≥∏Í∞íÏùÄ FalseÏûÖÎãàÎã§. TrueÎ°ú ÏÑ§Ï†ïÌïòÎ©¥ ÏõêÎ≥∏ DataFrameÏù¥ Î≥ÄÍ≤ΩÎêòÍ≥† Î∞òÌôò Í∞íÏù¥ ÏóÜÏäµÎãàÎã§. FalseÎ°ú ÏÑ§Ï†ïÌïòÎ©¥ ÏõêÎ≥∏ DataFrameÏùÄ Í∑∏ÎåÄÎ°ú ÎëêÍ≥† Ï†ïÎ†¨Îêú DataFrameÏù¥ Î∞òÌôòÎê©ÎãàÎã§.
>- kind: Í∏∞Î≥∏Í∞íÏùÄ 'quicksort'ÏûÖÎãàÎã§. Ï†ïÎ†¨ ÏïåÍ≥†Î¶¨Ï¶òÏùÑ ÏÑ†ÌÉùÌï©ÎãàÎã§. 'quicksort', 'mergesort', 'heapsort' Ï§ë ÏÑ†ÌÉùÌï† Ïàò ÏûàÏäµÎãàÎã§.
>- na_position: Í∏∞Î≥∏Í∞íÏùÄ 'last'ÏûÖÎãàÎã§. Í≤∞Ï∏°Í∞í(NaN)Ïùò ÏúÑÏπòÎ•º ÏÑ†ÌÉùÌï©ÎãàÎã§. 'last'Îäî Í≤∞Ï∏°Í∞íÏùÑ Îß® ÎßàÏßÄÎßâÏóê ÎëêÍ≥†, 'first'Îäî Í≤∞Ï∏°Í∞íÏùÑ Îß® ÏïûÏóê Îë°ÎãàÎã§.

### üìç df.set_index( )
- Pandas DataFrameÏùò set_index() Î©îÏÜåÎìúÎäî ÌïòÎÇò Ïù¥ÏÉÅÏùò Ïó¥ÏùÑ DataFrameÏùò Ïù∏Îç±Ïä§(Ìñâ Î†àÏù¥Î∏î)Î°ú ÏÑ§Ï†ïÌïòÎäî Îç∞ ÏÇ¨Ïö©Îê©ÎãàÎã§. 
- Ïù¥ Î©îÏÜåÎìúÎäî ÏÉàÎ°úÏö¥ DataFrameÏùÑ Î∞òÌôòÌïòÎ©∞ ÏõêÎûò DataFrameÏùÄ Î≥ÄÍ≤ΩÎêòÏßÄ ÏïäÏäµÎãàÎã§.


~~~python
df.set_index(keys, drop=True, append=False, inplace=False, verify_integrity=False)
~~~

>- keys: Ïù∏Îç±Ïä§Î°ú ÏÑ§Ï†ïÌïòÎ†§Îäî Ïó¥ Ïù¥Î¶Ñ ÎòêÎäî Ìï¥Îãπ Ïó¥ Ïù¥Î¶ÑÏùò Î¶¨Ïä§Ìä∏.
>- drop: Í∏∞Î≥∏Í∞íÏùÄ TrueÏûÖÎãàÎã§. TrueÎ°ú ÏÑ§Ï†ïÌïòÎ©¥ Ïù∏Îç±Ïä§Î°ú ÏÑ§Ï†ïÎêú Ïó¥ÏùÑ DataFrameÏóêÏÑú ÏÇ≠Ï†úÌï©ÎãàÎã§. FalseÎ°ú ÏÑ§Ï†ïÌïòÎ©¥ Ïù∏Îç±Ïä§Î°ú ÏÑ§Ï†ïÎêú Ïó¥Ïù¥ DataFrameÏóê Í∑∏ÎåÄÎ°ú ÎÇ®ÏïÑ ÏûàÏäµÎãàÎã§.
>- append: Í∏∞Î≥∏Í∞íÏùÄ FalseÏûÖÎãàÎã§. TrueÎ°ú ÏÑ§Ï†ïÌïòÎ©¥ Í∏∞Ï°¥ Ïù∏Îç±Ïä§ ÏòÜÏóê Ï∂îÍ∞Ä Ïù∏Îç±Ïä§Î•º ÏÑ§Ï†ïÌï©ÎãàÎã§.
>- inplace: Í∏∞Î≥∏Í∞íÏùÄ FalseÏûÖÎãàÎã§. TrueÎ°ú ÏÑ§Ï†ïÌïòÎ©¥ ÏõêÎ≥∏ DataFrameÏù¥ Î≥ÄÍ≤ΩÎêòÍ≥† Î∞òÌôò Í∞íÏù¥ ÏóÜÏäµÎãàÎã§. FalseÎ°ú ÏÑ§Ï†ïÌïòÎ©¥ ÏõêÎ≥∏ DataFrameÏùÄ Í∑∏ÎåÄÎ°ú ÎëêÍ≥† Ïù∏Îç±Ïä§Í∞Ä Î≥ÄÍ≤ΩÎêú DataFrameÏù¥ Î∞òÌôòÎê©ÎãàÎã§.
>- verify_integrity: Í∏∞Î≥∏Í∞íÏùÄ FalseÏûÖÎãàÎã§. TrueÎ°ú ÏÑ§Ï†ïÌïòÎ©¥ ÏÉàÎ°úÏö¥ Ïù∏Îç±Ïä§Ïùò Ï§ëÎ≥µÏùÑ ÌôïÏù∏Ìï©ÎãàÎã§. Ï§ëÎ≥µÎêòÎäî Ïù∏Îç±Ïä§Í∞Ä ÏûàÏúºÎ©¥ ÏóêÎü¨Î•º Î∞úÏÉùÏãúÌÇµÎãàÎã§.

### üìç df.reset_index( )
- Pandas DataFrameÏóêÏÑú Ïù∏Îç±Ïä§Î°ú ÏÑ§Ï†ïÎêú Ïó¥ Ïù¥Î¶ÑÏùÑ Îã§Ïãú Îç∞Ïù¥ÌÑ∞ Ïó¥Î°ú ÎêòÎèåÎ¶¨Î†§Î©¥ reset_index() Î©îÏÑúÎìúÎ•º ÏÇ¨Ïö©ÌïòÎ©¥ Îê©ÎãàÎã§.
~~~python
df.reset_index(level=None, drop=False, inplace=False)
~~~
>- level: Ïù∏Îç±Ïä§ Î†àÎ≤®ÏùÑ ÏßÄÏ†ïÌï©ÎãàÎã§. Ïó¨Îü¨ Î†àÎ≤®Ïùò Ïù∏Îç±Ïä§Í∞Ä ÏûàÎäî Í≤ΩÏö∞ ÌäπÏ†ï Î†àÎ≤®Ïùò Ïù∏Îç±Ïä§Îßå Î¶¨ÏÖãÌï† Ïàò ÏûàÏäµÎãàÎã§. Í∏∞Î≥∏Ï†ÅÏúºÎ°ú Î™®Îì† Î†àÎ≤®Ïùò Ïù∏Îç±Ïä§Î•º Î¶¨ÏÖãÌï©ÎãàÎã§.
>- drop: Í∏∞Î≥∏Í∞íÏùÄ FalseÏûÖÎãàÎã§. TrueÎ°ú ÏÑ§Ï†ïÌïòÎ©¥ Ïù∏Îç±Ïä§ Ïó¥ÏùÑ ÏôÑÏ†ÑÌûà ÏÇ≠Ï†úÌïòÍ≥†, FalseÎ°ú ÏÑ§Ï†ïÌïòÎ©¥ Ïù∏Îç±Ïä§ Ïó¥ÏùÑ ÏùºÎ∞ò Ïó¥Î°ú ÎêòÎèåÎ¶ΩÎãàÎã§.
>- inplace: Í∏∞Î≥∏Í∞íÏùÄ FalseÏûÖÎãàÎã§. TrueÎ°ú ÏÑ§Ï†ïÌïòÎ©¥ ÏõêÎ≥∏ DataFrameÏù¥ Î≥ÄÍ≤ΩÎêòÍ≥† Î∞òÌôò Í∞íÏù¥ ÏóÜÏäµÎãàÎã§. FalseÎ°ú ÏÑ§Ï†ïÌïòÎ©¥ ÏõêÎ≥∏ DataFrameÏùÄ Í∑∏ÎåÄÎ°ú ÎëêÍ≥† Ïù∏Îç±Ïä§Í∞Ä Î¶¨ÏÖãÎêú DataFrameÏù¥ Î∞òÌôòÎê©ÎãàÎã§.

### üìç df.corr( )
- Pandas DataFrameÏùò corr() Î©îÏÑúÎìúÎäî DataFrameÏùò Î™®Îì† Ïó¥ ÏÇ¨Ïù¥Ïùò ÏÉÅÍ¥Ä Í≥ÑÏàòÎ•º Í≥ÑÏÇ∞Ìï©ÎãàÎã§. 
- Ïù¥ Î©îÏÑúÎìúÎäî ÏÉÅÍ¥Ä ÌñâÎ†¨ÏùÑ Î∞òÌôòÌïòÎ©∞, ÏÉÅÍ¥Ä ÌñâÎ†¨Ïùò Í∞Å ÏöîÏÜåÎäî -1Í≥º 1 ÏÇ¨Ïù¥Ïùò Í∞íÏùÑ Í∞ÄÏßëÎãàÎã§.
~~~python
df.corr(method='pearson', min_periods=1)
~~~
>- method: ÏÉÅÍ¥Ä Í≥ÑÏàòÎ•º Í≥ÑÏÇ∞ÌïòÎäî Îç∞ ÏÇ¨Ïö©Ìï† Î∞©Î≤ïÏùÑ ÏßÄÏ†ïÌï©ÎãàÎã§. ÏÇ¨Ïö© Í∞ÄÎä•Ìïú Î©îÏÑúÎìúÏóêÎäî 'pearson' (Pearson ÏÉÅÍ¥Ä Í≥ÑÏàò), 'kendall' (KendallÏùò tau), 'spearman' (Spearman ÏàúÏúÑ ÏÉÅÍ¥Ä Í≥ÑÏàò) Îì±Ïù¥ ÏûàÏäµÎãàÎã§. Í∏∞Î≥∏Í∞íÏùÄ 'pearson'ÏûÖÎãàÎã§.
>- min_periods: Í∞Å Ïó¥ ÏåçÏóê ÎåÄÌï¥ ÌïÑÏöîÌïú ÏµúÏÜå Í¥ÄÏ∏°Ïπò ÏàòÏûÖÎãàÎã§. ÏßÄÏ†ïÎêú Í∞íÎ≥¥Îã§ Ï†ÅÏùÄ Í¥ÄÏ∏°ÏπòÍ∞Ä ÏûàÎäî Ïó¥ ÏåçÏùò Í≤ΩÏö∞ NaNÏù¥ Î∞òÌôòÎê©ÎãàÎã§.

---------------

---------------

---------------

---------------

---------------

In [65]:
os.getcwd()

'/Users/seokminlee/Desktop/mose/zero-base/·Ñâ·Ö≥·Ñê·Ö•·ÑÉ·Öµ·ÑÇ·Ö©·Ñê·Ö≥/5·Ñå·ÖÆ·Ñé·Ö°'

In [66]:
# pd.read_csv("path", encoding = "utf-8")
CCTV_Seoul = pd.read_csv("../ds_study/data/01. Seoul_CCTV.csv", encoding = "utf-8")
CCTV_Seoul.head()

   Í∏∞Í¥ÄÎ™Ö    ÏÜåÍ≥Ñ  2013ÎÖÑÎèÑ Ïù¥Ï†Ñ  2014ÎÖÑ  2015ÎÖÑ  2016ÎÖÑ
0  Í∞ïÎÇ®Íµ¨  3238       1292    430    584    932
1  Í∞ïÎèôÍµ¨  1010        379     99    155    377
2  Í∞ïÎ∂ÅÍµ¨   831        369    120    138    204
3  Í∞ïÏÑúÍµ¨   911        388    258    184     81
4  Í¥ÄÏïÖÍµ¨  2109        846    260    390    613

In [23]:
CCTV_Seoul.tail() # Ï¥ù Î™áÍ∞úÏùò indexÍ∞Ä ÏûàÎäîÏßÄ ÌôïÏù∏ Í∞ÄÎä•

    Í∏∞Í¥ÄÎ™Ö    ÏÜåÍ≥Ñ  2013ÎÖÑÎèÑ Ïù¥Ï†Ñ  2014ÎÖÑ  2015ÎÖÑ  2016ÎÖÑ
20  Ïö©ÏÇ∞Íµ¨  2096       1368    218    112    398
21  ÏùÄÌèâÍµ¨  2108       1138    224    278    468
22  Ï¢ÖÎ°úÍµ¨  1619        464    314    211    630
23   Ï§ëÍµ¨  1023        413    190     72    348
24  Ï§ëÎûëÍµ¨   916        509    121    177    109

In [35]:
# df.columns
CCTV_Seoul.columns

Index(['Íµ¨Î≥Ñ', 'ÏÜåÍ≥Ñ', '2013ÎÖÑÎèÑ Ïù¥Ï†Ñ', '2014ÎÖÑ', '2015ÎÖÑ', '2016ÎÖÑ'], dtype='object')

In [36]:
CCTV_Seoul.columns[0]

'Íµ¨Î≥Ñ'

In [29]:
# rename()
CCTV_Seoul.rename(columns={CCTV_Seoul.columns[0]: "Íµ¨Î≥Ñ"}, inplace = True)
CCTV_Seoul.head()

    Íµ¨Î≥Ñ    ÏÜåÍ≥Ñ  2013ÎÖÑÎèÑ Ïù¥Ï†Ñ  2014ÎÖÑ  2015ÎÖÑ  2016ÎÖÑ
0  Í∞ïÎÇ®Íµ¨  3238       1292    430    584    932
1  Í∞ïÎèôÍµ¨  1010        379     99    155    377
2  Í∞ïÎ∂ÅÍµ¨   831        369    120    138    204
3  Í∞ïÏÑúÍµ¨   911        388    258    184     81
4  Í¥ÄÏïÖÍµ¨  2109        846    260    390    613

In [108]:
# pd.read_excel()
pop_Seoul = pd.read_excel(
    "../ds_study/data/01. Seoul_Population.xls", header=2, usecols = "B, D, G, J, N"
)
pop_Seoul.head()

   ÏûêÏπòÍµ¨         Í≥Ñ      Í≥Ñ.1     Í≥Ñ.2  65ÏÑ∏Ïù¥ÏÉÅÍ≥†Î†πÏûê
0   Ìï©Í≥Ñ  10124579  9857426  267153   1365126
1  Ï¢ÖÎ°úÍµ¨    164257   154770    9487     26182
2   Ï§ëÍµ¨    134593   125709    8884     21384
3  Ïö©ÏÇ∞Íµ¨    244444   229161   15283     36882
4  ÏÑ±ÎèôÍµ¨    312711   304808    7903     41273

In [34]:
pop_Seoul.rename(columns = {
    pop_Seoul.columns[0]: "Íµ¨Î≥Ñ",
    pop_Seoul.columns[1]: "Ïù∏Íµ¨Ïàò",
    pop_Seoul.columns[2]: "ÌïúÍµ≠Ïù∏",
    pop_Seoul.columns[3]: "Ïô∏Íµ≠Ïù∏",
    pop_Seoul.columns[4]: "Í≥†Î†πÏûê",
}, inplace = True)
pop_Seoul.head()

    Íµ¨Î≥Ñ       Ïù∏Íµ¨Ïàò      ÌïúÍµ≠Ïù∏     Ïô∏Íµ≠Ïù∏      Í≥†Î†πÏûê
0   Ìï©Í≥Ñ  10124579  9857426  267153  1365126
1  Ï¢ÖÎ°úÍµ¨    164257   154770    9487    26182
2   Ï§ëÍµ¨    134593   125709    8884    21384
3  Ïö©ÏÇ∞Íµ¨    244444   229161   15283    36882
4  ÏÑ±ÎèôÍµ¨    312711   304808    7903    41273

In [4]:
# PandasÏùò Îç∞Ïù¥ÌÑ∞ÌòïÏùÑ Íµ¨ÏÑ±ÌïòÎäî Í∏∞Î≥∏ÏùÄ SeriesÏù¥Îã§
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [8]:
# pd.date_range("ÎÇ†Ïßú", Í∏∞Í∞Ñ(Ïùº)): ÎÇ†Ïßú(ÏãúÍ∞Ñ)Î•º Ïù¥Ïö©Ìï† Ïàò ÏûàÎã§
dates = pd.date_range("20230101", periods = 6)
dates

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06'],
              dtype='datetime64[ns]', freq='D')

In [104]:
# pd.DataFrame(Î∞∞Ïó¥, index, columns)
df = pd.DataFrame(np.random.randn(6, 4), index = dates, columns = ["A", "B", "C", "D"])
df

                   A         B         C         D
2023-01-01  0.498243  0.478006 -0.649365 -0.160228
2023-01-02 -0.211596  0.485069  1.627125  0.751243
2023-01-03 -1.637146  1.040805  1.593244 -0.684878
2023-01-04 -0.953551 -0.708437  0.026684 -1.211547
2023-01-05 -0.986056  1.880913  0.043316  0.617972
2023-01-06 -1.444664 -1.239453 -1.308877 -0.136287

In [20]:
# ÌäπÏ†ï Ïª¨ÎüºÎßå ÏùΩÍ∏∞
df["A"]

2023-01-01    0.403336
2023-01-02   -0.239835
2023-01-03   -1.709471
2023-01-04    0.646113
2023-01-05   -0.885848
2023-01-06   -0.691921
Freq: D, Name: A, dtype: float64

In [22]:
# [n:m]: n Î∂ÄÌÑ∞ m-1 ÍπåÏßÄ
# Í∑∏Îü¨ÎÇò Ïù∏Îç±Ïä§ÎÇò Ïª¨ÎüºÏùò Ïù¥Î¶ÑÏúºÎ°ú sliceÌïòÎäî Í≤ΩÏö∞Îäî ÎÅùÏùÑ Ìè¨Ìï®Ìï®
df[:3]

                   A         B         C         D
2023-01-01  0.403336  0.141067  1.066270  0.934018
2023-01-02 -0.239835  0.541326  0.913515 -0.385204
2023-01-03 -1.709471 -0.585700 -0.246588 -1.782980

In [23]:
df["2023-01-01":"2023-01-04" ]

                   A         B         C         D
2023-01-01  0.403336  0.141067  1.066270  0.934018
2023-01-02 -0.239835  0.541326  0.913515 -0.385204
2023-01-03 -1.709471 -0.585700 -0.246588 -1.782980
2023-01-04  0.646113 -0.631797  1.026619 -1.305984

In [32]:
# Ïù¥Î¶ÑÏúºÎ°úÎèÑ ÏÇ¨Ïö© Í∞ÄÎä•
# PandasÏùò Î≥¥Ìé∏Ï†ÅÏù∏ slice ÏòµÏÖò
df.loc[:, ["A", "B"]]

                   A         B
2023-01-01  0.403336  0.141067
2023-01-02 -0.239835  0.541326
2023-01-03 -1.709471 -0.585700
2023-01-04  0.646113 -0.631797
2023-01-05 -0.885848  0.403517
2023-01-06 -0.691921 -1.261553

In [35]:
df.loc["2023-01-02":"2023-01-04", ["A","C"]]

                   A         C
2023-01-02 -0.239835  0.913515
2023-01-03 -1.709471 -0.246588
2023-01-04  0.646113  1.026619

In [36]:
df.loc["2023-01-02", ["A","C"]]

A   -0.239835
C    0.913515
Name: 2023-01-02 00:00:00, dtype: float64

In [39]:
df.iloc[2:4]

                   A         B         C         D
2023-01-03 -1.709471 -0.585700 -0.246588 -1.782980
2023-01-04  0.646113 -0.631797  1.026619 -1.305984

In [41]:
 df.iloc[3:5, 2:4]

                   C         D
2023-01-04  1.026619 -1.305984
2023-01-05 -0.444447 -0.998359

In [43]:
df.iloc[[1, 2, 4], [0, 2]]

                   A         C
2023-01-02 -0.239835  0.913515
2023-01-03 -1.709471 -0.246588
2023-01-05 -0.885848 -0.444447

In [44]:
df

                   A         B         C         D
2023-01-01  0.403336  0.141067  1.066270  0.934018
2023-01-02 -0.239835  0.541326  0.913515 -0.385204
2023-01-03 -1.709471 -0.585700 -0.246588 -1.782980
2023-01-04  0.646113 -0.631797  1.026619 -1.305984
2023-01-05 -0.885848  0.403517 -0.444447 -0.998359
2023-01-06 -0.691921 -1.261553 -0.107035 -1.429844

In [55]:
# df[condition] Í≥º Í∞ôÏù¥ ÏÇ¨Ïö©ÌïòÎäî Í≤ÉÏù¥ ÏùºÎ∞òÏ†ÅÏù¥Îã§.
df[df > 0]

                   A         B         C         D
2023-01-01  0.403336  0.141067  1.066270  0.934018
2023-01-02       NaN  0.541326  0.913515       NaN
2023-01-03       NaN       NaN       NaN       NaN
2023-01-04  0.646113       NaN  1.026619       NaN
2023-01-05       NaN  0.403517       NaN       NaN
2023-01-06       NaN       NaN       NaN       NaN

In [51]:
df[df["A"] < 0]

                   A         B         C         D
2023-01-02 -0.239835  0.541326  0.913515 -0.385204
2023-01-03 -1.709471 -0.585700 -0.246588 -1.782980
2023-01-05 -0.885848  0.403517 -0.444447 -0.998359
2023-01-06 -0.691921 -1.261553 -0.107035 -1.429844

In [77]:
df["E"] = ["one", "one", "two", "three", "four", "three"]
df["F"] = ["one", "one", "two", "three", "four", "three"]
df

                   A         B         C         D      E      F
2023-01-01  0.403336  0.141067  1.066270  0.934018    one    one
2023-01-02 -0.239835  0.541326  0.913515 -0.385204    one    one
2023-01-03 -1.709471 -0.585700 -0.246588 -1.782980    two    two
2023-01-04  0.646113 -0.631797  1.026619 -1.305984  three  three
2023-01-05 -0.885848  0.403517 -0.444447 -0.998359   four   four
2023-01-06 -0.691921 -1.261553 -0.107035 -1.429844  three  three

In [78]:
df[df["E"].isin(["two", "three"])]

                   A         B         C         D      E      F
2023-01-03 -1.709471 -0.585700 -0.246588 -1.782980    two    two
2023-01-04  0.646113 -0.631797  1.026619 -1.305984  three  three
2023-01-06 -0.691921 -1.261553 -0.107035 -1.429844  three  three

In [79]:
# del df["Ïó¥"]: ÏòÅÍµ¨Ï†ÅÏù∏ ÏÇ≠Ï†ú, Î≥ÄÍ≤Ω Ï†ÅÏö© O
del df["E"]
df

                   A         B         C         D      F
2023-01-01  0.403336  0.141067  1.066270  0.934018    one
2023-01-02 -0.239835  0.541326  0.913515 -0.385204    one
2023-01-03 -1.709471 -0.585700 -0.246588 -1.782980    two
2023-01-04  0.646113 -0.631797  1.026619 -1.305984  three
2023-01-05 -0.885848  0.403517 -0.444447 -0.998359   four
2023-01-06 -0.691921 -1.261553 -0.107035 -1.429844  three

In [92]:
# .drop(): Îã®Ïàú Ï°∞Ìöå, Î≥ÄÍ≤Ω Ï†ÅÏö© X
# ÌïòÏßÄÎßå 'inplace = True'Î°ú Î≥ÄÍ≤Ω Ï†ÅÏö© Í∞ÄÎä•.
# axis=0 Í∞ÄÎ°ú, axis=1 ÏÑ∏Î°ú 
df.drop(["F"], axis = 1, inplace = True)

In [103]:
df

                A         B         C         D
2023-01-01   plus  0.141067  1.066270  0.934018
2023-01-02  minus  0.541326  0.913515 -0.385204
2023-01-03  minus -0.585700 -0.246588 -1.782980
2023-01-04   plus -0.631797  1.026619 -1.305984
2023-01-05  minus  0.403517 -0.444447 -0.998359
2023-01-06  minus -1.261553 -0.107035 -1.429844

In [63]:
# np.cumsum: Í∞Å Ïª¨Îüº ÎàÑÏ†ÅÌï©
df.apply(np.cumsum)

                   A         B         C         D
2023-01-01  0.403336  0.141067  1.066270  0.934018
2023-01-02  0.163501  0.682393  1.979784  0.548814
2023-01-03 -1.545970  0.096693  1.733197 -1.234166
2023-01-04 -0.899857 -0.535104  2.759816 -2.540151
2023-01-05 -1.785705 -0.131587  2.315369 -3.538509
2023-01-06 -2.477625 -1.393140  2.208334 -4.968353

In [105]:
df["A"] = df["A"].apply(lambda num: "plus" if num > 0 else "minus")

In [106]:
df

                A         B         C         D
2023-01-01   plus  0.478006 -0.649365 -0.160228
2023-01-02  minus  0.485069  1.627125  0.751243
2023-01-03  minus  1.040805  1.593244 -0.684878
2023-01-04  minus -0.708437  0.026684 -1.211547
2023-01-05  minus  1.880913  0.043316  0.617972
2023-01-06  minus -1.239453 -1.308877 -0.136287

In [72]:
CCTV_Seoul.sort_values(by="ÏÜåÍ≥Ñ", ascending = False).head()

    Í∏∞Í¥ÄÎ™Ö    ÏÜåÍ≥Ñ  2013ÎÖÑÎèÑ Ïù¥Ï†Ñ  2014ÎÖÑ  2015ÎÖÑ  2016ÎÖÑ
0   Í∞ïÎÇ®Íµ¨  3238       1292    430    584    932
18  ÏñëÏ≤úÍµ¨  2482       1843    142     30    467
14  ÏÑúÏ¥àÍµ¨  2297       1406    157    336    398
4   Í¥ÄÏïÖÍµ¨  2109        846    260    390    613
21  ÏùÄÌèâÍµ¨  2108       1138    224    278    468

In [132]:
CCTV_Seoul["ÏµúÍ∑º Ï¶ùÍ∞ÄÏú®"] = (
    (CCTV_Seoul["2016ÎÖÑ"] + CCTV_Seoul["2015ÎÖÑ"] + CCTV_Seoul["2014ÎÖÑ"])
    / CCTV_Seoul["2013ÎÖÑÎèÑ Ïù¥Ï†Ñ"] * 100
)
CCTV_Seoul.sort_values(by = "ÏµúÍ∑º Ï¶ùÍ∞ÄÏú®", ascending = False).head()

    Í∏∞Í¥ÄÎ™Ö    ÏÜåÍ≥Ñ  2013ÎÖÑÎèÑ Ïù¥Ï†Ñ  2014ÎÖÑ  2015ÎÖÑ  2016ÎÖÑ      ÏµúÍ∑º Ï¶ùÍ∞ÄÏú®
22  Ï¢ÖÎ°úÍµ¨  1619        464    314    211    630  248.922414
9   ÎèÑÎ¥âÍµ¨   825        238    159     42    386  246.638655
12  ÎßàÌè¨Íµ¨   980        314    118    169    379  212.101911
8   ÎÖ∏ÏõêÍµ¨  1566        542     57    451    516  188.929889
1   Í∞ïÎèôÍµ¨  1010        379     99    155    377  166.490765

In [133]:
pop_Seoul = pd.read_excel(
    "../ds_study/data/01. Seoul_Population.xls", header=2, usecols = "B, D, G, J, N")

In [134]:
pop_Seoul.rename(columns = {
    pop_Seoul.columns[0]: "Íµ¨Î≥Ñ",
    pop_Seoul.columns[1]: "Ïù∏Íµ¨Ïàò",
    pop_Seoul.columns[2]: "ÌïúÍµ≠Ïù∏",
    pop_Seoul.columns[3]: "Ïô∏Íµ≠Ïù∏",
    pop_Seoul.columns[4]: "Í≥†Î†πÏûê"
}, inplace = True)

In [135]:
pop_Seoul.head()

    Íµ¨Î≥Ñ       Ïù∏Íµ¨Ïàò      ÌïúÍµ≠Ïù∏     Ïô∏Íµ≠Ïù∏      Í≥†Î†πÏûê
0   Ìï©Í≥Ñ  10124579  9857426  267153  1365126
1  Ï¢ÖÎ°úÍµ¨    164257   154770    9487    26182
2   Ï§ëÍµ¨    134593   125709    8884    21384
3  Ïö©ÏÇ∞Íµ¨    244444   229161   15283    36882
4  ÏÑ±ÎèôÍµ¨    312711   304808    7903    41273

In [136]:
pop_Seoul.drop([0], inplace = True) # default: axis=0 (Í∞ÄÎ°ú)
pop_Seoul

      Íµ¨Î≥Ñ     Ïù∏Íµ¨Ïàò     ÌïúÍµ≠Ïù∏    Ïô∏Íµ≠Ïù∏    Í≥†Î†πÏûê
1    Ï¢ÖÎ°úÍµ¨  164257  154770   9487  26182
2     Ï§ëÍµ¨  134593  125709   8884  21384
3    Ïö©ÏÇ∞Íµ¨  244444  229161  15283  36882
4    ÏÑ±ÎèôÍµ¨  312711  304808   7903  41273
5    Í¥ëÏßÑÍµ¨  372298  357703  14595  43953
6   ÎèôÎåÄÎ¨∏Íµ¨  366011  350647  15364  55718
7    Ï§ëÎûëÍµ¨  412780  408226   4554  59262
8    ÏÑ±Î∂ÅÍµ¨  455407  444055  11352  66251
9    Í∞ïÎ∂ÅÍµ¨  328002  324479   3523  56530
10   ÎèÑÎ¥âÍµ¨  346234  344166   2068  53488
11   ÎÖ∏ÏõêÍµ¨  558075  554403   3672  74243
12   ÏùÄÌèâÍµ¨  491202  486794   4408  74559
13  ÏÑúÎåÄÎ¨∏Íµ¨  325028  312800  12228  49266
14   ÎßàÌè¨Íµ¨  385783  374915  10868  49615
15   ÏñëÏ≤úÍµ¨  475018  471154   3864  55234
16   Í∞ïÏÑúÍµ¨  608255  601691   6564  76032
17   Íµ¨Î°úÍµ¨  441559  410742  30817  58794
18   Í∏àÏ≤úÍµ¨  253491  235154  18337  34170
19  ÏòÅÎì±Ìè¨Íµ¨  402024  368550  33474  53981
20   ÎèôÏûëÍµ¨  408493  396217  12276  57255
21   Í¥ÄÏïÖÍµ¨  520929  503297  17632  70046
22   ÏÑúÏ¥àÍµ¨  445401  441102   4299  53205
23   Í∞ïÎÇ®Íµ¨  561052  556164   4888  65060
24   ÏÜ°ÌååÍµ¨  671173  664496   6677  76582
25   Í∞ïÎèôÍµ¨  440359  436223   4136  56161

In [137]:
pop_Seoul["Íµ¨Î≥Ñ"].unique()

array(['Ï¢ÖÎ°úÍµ¨', 'Ï§ëÍµ¨', 'Ïö©ÏÇ∞Íµ¨', 'ÏÑ±ÎèôÍµ¨', 'Í¥ëÏßÑÍµ¨', 'ÎèôÎåÄÎ¨∏Íµ¨', 'Ï§ëÎûëÍµ¨', 'ÏÑ±Î∂ÅÍµ¨', 'Í∞ïÎ∂ÅÍµ¨',
       'ÎèÑÎ¥âÍµ¨', 'ÎÖ∏ÏõêÍµ¨', 'ÏùÄÌèâÍµ¨', 'ÏÑúÎåÄÎ¨∏Íµ¨', 'ÎßàÌè¨Íµ¨', 'ÏñëÏ≤úÍµ¨', 'Í∞ïÏÑúÍµ¨', 'Íµ¨Î°úÍµ¨', 'Í∏àÏ≤úÍµ¨',
       'ÏòÅÎì±Ìè¨Íµ¨', 'ÎèôÏûëÍµ¨', 'Í¥ÄÏïÖÍµ¨', 'ÏÑúÏ¥àÍµ¨', 'Í∞ïÎÇ®Íµ¨', 'ÏÜ°ÌååÍµ¨', 'Í∞ïÎèôÍµ¨'], dtype=object)

In [138]:
len(pop_Seoul["Íµ¨Î≥Ñ"].unique())

25

In [144]:
pop_Seoul["Í≥†Î†πÏûê ÎπÑÏú®"] = pop_Seoul["Í≥†Î†πÏûê"] / pop_Seoul["Ïù∏Íµ¨Ïàò"] * 100
pop_Seoul["Ïô∏Íµ≠Ïù∏ ÎπÑÏú®"] = pop_Seoul["Ïô∏Íµ≠Ïù∏"] / pop_Seoul["Ïù∏Íµ¨Ïàò"] * 100
pop_Seoul.head()

    Íµ¨Î≥Ñ     Ïù∏Íµ¨Ïàò     ÌïúÍµ≠Ïù∏    Ïô∏Íµ≠Ïù∏    Í≥†Î†πÏûê     Í≥†Î†πÏûê ÎπÑÏú®    Ïô∏Íµ≠Ïù∏ ÎπÑÏú®
1  Ï¢ÖÎ°úÍµ¨  164257  154770   9487  26182  15.939656  5.775705
2   Ï§ëÍµ¨  134593  125709   8884  21384  15.887899  6.600640
3  Ïö©ÏÇ∞Íµ¨  244444  229161  15283  36882  15.088118  6.252148
4  ÏÑ±ÎèôÍµ¨  312711  304808   7903  41273  13.198448  2.527254
5  Í¥ëÏßÑÍµ¨  372298  357703  14595  43953  11.805865  3.920247

In [153]:
pop_Seoul.sort_values("Ïô∏Íµ≠Ïù∏", ascending = False).head() # by ÏÉùÎûµ Í∞ÄÎä•

      Íµ¨Î≥Ñ     Ïù∏Íµ¨Ïàò     ÌïúÍµ≠Ïù∏    Ïô∏Íµ≠Ïù∏    Í≥†Î†πÏûê     Í≥†Î†πÏûê ÎπÑÏú®    Ïô∏Íµ≠Ïù∏ ÎπÑÏú®
19  ÏòÅÎì±Ìè¨Íµ¨  402024  368550  33474  53981  13.427308  8.326369
17   Íµ¨Î°úÍµ¨  441559  410742  30817  58794  13.315095  6.979135
18   Í∏àÏ≤úÍµ¨  253491  235154  18337  34170  13.479769  7.233787
21   Í¥ÄÏïÖÍµ¨  520929  503297  17632  70046  13.446362  3.384722
6   ÎèôÎåÄÎ¨∏Íµ¨  366011  350647  15364  55718  15.223040  4.197688

In [154]:
# ÎîïÏÖîÎÑàÎ¶¨ ÏïàÏùò Î¶¨Ïä§Ìä∏ ÌòïÌÉú 
left = pd.DataFrame({
    "key": ["K0", "K4", "K2", "K3"],
    "A": ["A0", "A1", "A2", "A3"],
    "B": ["B0", "B1","B2", "B3"]
})
# Î¶¨Ïä§Ìä∏ ÏïàÏùò ÎîïÏÖîÎÑàÎ¶¨ ÌòïÌÉú 
right = pd.DataFrame([
    {"key":"K0", "C":"C0", "D":"D0"},
    {"key":"K1", "C":"C1", "D":"D1"},
    {"key":"K2", "C":"C2", "D":"D2"},
    {"key":"K3", "C":"C3", "D":"D3"},
])

In [159]:
left

  key   A   B
0  K0  A0  B0
1  K4  A1  B1
2  K2  A2  B2
3  K3  A3  B3

In [160]:
right

  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

### PandasÏóêÏÑú Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏùÑ Î≥ëÌï©ÌïòÎäî Î∞©Î≤ï
- pd.concat( )
- pd.merge( )
- pd.join( )

### üìç pd.merge( )
- Îëê Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏóêÏÑú Ïª¨ÎüºÏù¥ÎÇò Ïù∏Îç±Ïä§Î•º Í∏∞Ï§ÄÏúºÎ°ú Ïû°Í≥† Î≥ëÌï©ÌïòÎäî Î∞©Î≤ï
- Í∏∞Ï§ÄÏù¥ ÎêòÎäî Ïª¨ÎüºÏù¥ÎÇò Ïù∏Îç±Ïä§Î•º ÌÇ§Í∞íÏù¥ÎùºÍ≥† Ìï©ÎãàÎã§
- Í∏∞Ï§ÄÏù¥ ÎêòÎäî ÌÇ§Í∞íÏùÄ Îëê Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏóê Î™®Îëê Ìè¨Ìï®ÎêòÏñ¥ ÏûàÏñ¥Ïïº Ìï©ÎãàÎã§\

In [156]:
pd.merge(left, right, how = "inner", on = "key")

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K2  A2  B2  C2  D2
2  K3  A3  B3  C3  D3

In [157]:
pd.merge(left, right, how = "outer", on = "key")

  key    A    B    C    D
0  K0   A0   B0   C0   D0
1  K4   A1   B1  NaN  NaN
2  K2   A2   B2   C2   D2
3  K3   A3   B3   C3   D3
4  K1  NaN  NaN   C1   D1

In [158]:
pd.merge(left, right, how = "left", on = "key")

  key   A   B    C    D
0  K0  A0  B0   C0   D0
1  K4  A1  B1  NaN  NaN
2  K2  A2  B2   C2   D2
3  K3  A3  B3   C3   D3

In [161]:
pd.merge(left, right, how = "right", on = "key")

  key    A    B   C   D
0  K0   A0   B0  C0  D0
1  K1  NaN  NaN  C1  D1
2  K2   A2   B2  C2  D2
3  K3   A3   B3  C3  D3

In [164]:
CCTV_Seoul.rename(columns = {CCTV_Seoul.columns[0]: "Íµ¨Î≥Ñ"}, inplace = True)

In [167]:
CCTV_Seoul.head()

    Íµ¨Î≥Ñ    ÏÜåÍ≥Ñ  2013ÎÖÑÎèÑ Ïù¥Ï†Ñ  2014ÎÖÑ  2015ÎÖÑ  2016ÎÖÑ      ÏµúÍ∑º Ï¶ùÍ∞ÄÏú®
0  Í∞ïÎÇ®Íµ¨  3238       1292    430    584    932  150.619195
1  Í∞ïÎèôÍµ¨  1010        379     99    155    377  166.490765
2  Í∞ïÎ∂ÅÍµ¨   831        369    120    138    204  125.203252
3  Í∞ïÏÑúÍµ¨   911        388    258    184     81  134.793814
4  Í¥ÄÏïÖÍµ¨  2109        846    260    390    613  149.290780

In [168]:
pop_Seoul.head()

    Íµ¨Î≥Ñ     Ïù∏Íµ¨Ïàò     ÌïúÍµ≠Ïù∏    Ïô∏Íµ≠Ïù∏    Í≥†Î†πÏûê     Í≥†Î†πÏûê ÎπÑÏú®    Ïô∏Íµ≠Ïù∏ ÎπÑÏú®
1  Ï¢ÖÎ°úÍµ¨  164257  154770   9487  26182  15.939656  5.775705
2   Ï§ëÍµ¨  134593  125709   8884  21384  15.887899  6.600640
3  Ïö©ÏÇ∞Íµ¨  244444  229161  15283  36882  15.088118  6.252148
4  ÏÑ±ÎèôÍµ¨  312711  304808   7903  41273  13.198448  2.527254
5  Í¥ëÏßÑÍµ¨  372298  357703  14595  43953  11.805865  3.920247

In [176]:
data_result = pd.merge(CCTV_Seoul, pop_Seoul, on = "Íµ¨Î≥Ñ")
data_result.head()

,Íµ¨Î≥Ñ,ÏÜåÍ≥Ñ,2013ÎÖÑÎèÑ Ïù¥Ï†Ñ,2014ÎÖÑ,2015ÎÖÑ,2016ÎÖÑ,ÏµúÍ∑º Ï¶ùÍ∞ÄÏú®,Ïù∏Íµ¨Ïàò,ÌïúÍµ≠Ïù∏,Ïô∏Íµ≠Ïù∏,Í≥†Î†πÏûê,Í≥†Î†πÏûê ÎπÑÏú®,Ïô∏Íµ≠Ïù∏ ÎπÑÏú®
0,Í∞ïÎÇ®Íµ¨,3238,1292,430,584,932,150.619195,561052,556164,4888,65060,11.596073,0.871220
1,Í∞ïÎèôÍµ¨,1010,379,99,155,377,166.490765,440359,436223,4136,56161,12.753458,0.939234
2,Í∞ïÎ∂ÅÍµ¨,831,369,120,138,204,125.203252,328002,324479,3523,56530,17.234651,1.074079
3,Í∞ïÏÑúÍµ¨,911,388,258,184,81,134.793814,608255,601691,6564,76032,12.500021,1.079153
4,Í¥ÄÏïÖÍµ¨,2109,846,260,390,613,149.290780,520929,503297,17632,70046,13.446362,3.384722

In [177]:
del data_result["2013ÎÖÑÎèÑ Ïù¥Ï†Ñ"]
del data_result["2014ÎÖÑ"]
del data_result["2015ÎÖÑ"]
del data_result["2016ÎÖÑ"]

In [178]:
# Îç∞Ïù¥ÌÑ∞Î•º Ï†ïÎ¶¨ÌïòÎäî Í≥ºÏ†ïÏóêÏÑú indexÎ•º Ïû¨ÏßÄÏ†ïÌï† ÎïåÍ∞Ä ÏûàÎã§.
# Ïó¨Í∏∞ÏÑúÎäî unique()Ìïú Îç∞Ïù¥ÌÑ∞Ïù∏ "Íµ¨Î≥Ñ"Î°ú indexÎ•º Ïû°Ïûê.
data_result.set_index("Íµ¨Î≥Ñ", inplace = True)

In [184]:
data_result.head()

       ÏÜåÍ≥Ñ      ÏµúÍ∑º Ï¶ùÍ∞ÄÏú®     Ïù∏Íµ¨Ïàò     ÌïúÍµ≠Ïù∏    Ïô∏Íµ≠Ïù∏    Í≥†Î†πÏûê     Í≥†Î†πÏûê ÎπÑÏú®    Ïô∏Íµ≠Ïù∏ ÎπÑÏú®
Íµ¨Î≥Ñ
Í∞ïÎÇ®Íµ¨  3238  150.619195  561052  556164   4888  65060  11.596073  0.871220
Í∞ïÎèôÍµ¨  1010  166.490765  440359  436223   4136  56161  12.753458  0.939234
Í∞ïÎ∂ÅÍµ¨   831  125.203252  328002  324479   3523  56530  17.234651  1.074079
Í∞ïÏÑúÍµ¨   911  134.793814  608255  601691   6564  76032  12.500021  1.079153
Í¥ÄÏïÖÍµ¨  2109  149.290780  520929  503297  17632  70046  13.446362  3.384722

In [183]:
data_result.corr()

,ÏÜåÍ≥Ñ,ÏµúÍ∑º Ï¶ùÍ∞ÄÏú®,Ïù∏Íµ¨Ïàò,ÌïúÍµ≠Ïù∏,Ïô∏Íµ≠Ïù∏,Í≥†Î†πÏûê,Í≥†Î†πÏûê ÎπÑÏú®,Ïô∏Íµ≠Ïù∏ ÎπÑÏú®
ÏÜåÍ≥Ñ,1.000000,-0.264378,0.232555,0.227852,0.030421,0.163905,-0.267841,-0.045956
ÏµúÍ∑º Ï¶ùÍ∞ÄÏú®,-0.264378,1.000000,-0.097165,-0.086341,-0.156421,-0.072251,0.190396,-0.047102
Ïù∏Íµ¨Ïàò,0.232555,-0.097165,1.000000,0.998151,-0.167243,0.936737,-0.637414,-0.601076
ÌïúÍµ≠Ïù∏,0.227852,-0.086341,0.998151,1.000000,-0.226853,0.936155,-0.628360,-0.645463
Ïô∏Íµ≠Ïù∏,0.030421,-0.156421,-0.167243,-0.226853,1.000000,-0.175318,-0.021147,0.838612
Í≥†Î†πÏûê,0.163905,-0.072251,0.936737,0.936155,-0.175318,1.000000,-0.348840,-0.620300
Í≥†Î†πÏûê ÎπÑÏú®,-0.267841,0.190396,-0.637414,-0.628360,-0.021147,-0.348840,1.000000,0.242816
Ïô∏Íµ≠Ïù∏ ÎπÑÏú®,-0.045956,-0.047102,-0.601076,-0.645463,0.838612,-0.620300,0.242816,1.000000

In [187]:
data_result["CCTV ÎπÑÏú®"] = (data_result["ÏÜåÍ≥Ñ"] / data_result["Ïù∏Íµ¨Ïàò"]) * 100
data_result.sort_values("CCTV ÎπÑÏú®", ascending = False).head()

,ÏÜåÍ≥Ñ,ÏµúÍ∑º Ï¶ùÍ∞ÄÏú®,Ïù∏Íµ¨Ïàò,ÌïúÍµ≠Ïù∏,Ïô∏Íµ≠Ïù∏,Í≥†Î†πÏûê,Í≥†Î†πÏûê ÎπÑÏú®,Ïô∏Íµ≠Ïù∏ ÎπÑÏú®,CCTV ÎπÑÏú®
Íµ¨Î≥Ñ,,,,,,,,,
Ï¢ÖÎ°úÍµ¨,1619,248.922414,164257,154770,9487,26182,15.939656,5.775705,0.985651
Ïö©ÏÇ∞Íµ¨,2096,53.216374,244444,229161,15283,36882,15.088118,6.252148,0.857456
Ï§ëÍµ¨,1023,147.699758,134593,125709,8884,21384,15.887899,6.600640,0.760069
Í∞ïÎÇ®Íµ¨,3238,150.619195,561052,556164,4888,65060,11.596073,0.871220,0.577130
Í∏àÏ≤úÍµ¨,1348,100.000000,253491,235154,18337,34170,13.479769,7.233787,0.531774